<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ path('article_list') }}">Nadhem BelHadj</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarNav" aria-controls="navbarNav" 
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('article_list') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('new_article') }}">Ajouter article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('new_category') }}">Ajouter catégorie</a>
                </li>
            </ul>
        </div>
    </div>
</nav>